* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
  background-color: blanchedalmond;
}

#welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  margin: 10px;
}

#welcome-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.welcome-link {
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: blanchedalmond;
  margin: 10px;
}

#footer {
  font-size: 15px;
  margin-left: 2.2vw;
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.article-card {
  padding: 0px 5px;
}

#filters {
  margin: 10px;
}

label {
  padding: 10px;
  font-weight: bold;
}

.article-img {
  height: 50vh;
  width: 70vh;
  padding-top: 20px;
}
.article-body {
  padding-top: 20px;
}
.article-created-at {
  padding-top: 20px;
  font-style: italic;
}
.article-author {
  padding-top: 20px;
  font-style: italic;
}
.article-title {
  font-weight: 600;
  margin-top: 20px;
  font-size: 45px;
}
.page-selection {
  margin-left: 2.2vw;
}

#article {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.article-main {
  margin-left: 10vw;
  margin-right: 5vw;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}
.article-comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
}

.comment-card {
  margin: 10px 0px;
}

.vote-card {
  display: flex;
  align-items: center;
}

.vote-alert {
  padding-left: 40px;
}

.sign-in {
  margin: 100px;
}
